@model ChallengeDetailViewModel

@inject UserManager<ApplicationUser> UserManager

<h2>@Model.Title</h2>
<hr />
<h4>@($"{Model.Start:MM/dd/yyy}") - @($"{Model.End:MM/dd/yyy}")</h4>
<hr />
<p>@Model.Description</p>

<hr />
@if (Model.Participants.Any(p => p.UserId == UserManager.GetUserId(User)))
{
    <a asp-controller="Checkin" asp-action="Checkin" asp-route-challengeId="@Model.Id" class="btn btn-success">Check In!</a>
}
else
{
    <a asp-action="Join" asp-route-id="@Model.Id" class="btn btn-info">Join this Challenge!</a>
}
<hr />

<h3>Leaderboard</h3>
<table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Joined</th>
            <th>Last Checkin</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ranking in Model.Participants.OrderByDescending(p => p.Weightloss).Select((participant, index) => new { participant, rank = index + 1 }))
        {
            <tr>
                <td>@ranking.rank</td>
                <td>@ranking.participant.Name</td>
                <td>@ranking.participant.Joined</td>
                <td>@(ranking.participant.LastCheckin?.ToString() ?? "Never")</td>
                <td>
                    <span title="Starting Weight">
                        @(ranking.participant.StartingWeight?.ToString() ?? "--")
                    </span>/
                    <span title="Last Weight">
                        @(ranking.participant.LastWeight?.ToString() ?? "--")
                    </span>
                    <span title="Gain/Loss" style="font-weight: bold">
                        @if (ranking.participant.Weightloss < 0)
                        {
                            @:(<span style="color: lightcoral">+@(-ranking.participant.Weightloss)</span>)
                        }
                        else if (ranking.participant.Weightloss > 0)
                        {
                            @:(<span style="color: darkgreen">-@(ranking.participant.Weightloss)</span>)
                        }
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>